{% extends "TiempoAdminBundle:BASE:base.html.twig" %}
{% block title %}{{titulo}}{% endblock %}
{% block container %}
<!-- left column -->
<div class="col-xs-12">
    <div class="box box-info">
        <div class="box-header with-border">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Editar" class="btn btn-success" style="margin-top:10px" />
            {{ form_end(edit_form) }}

        </div>
    </div>
</div>
{% endblock %}